body {
    color: #fff;
    font-family: arial;        
    text-align: center;
    padding: 15px;
  }
  
  h1 {
    font-size: 32px;
    color: #f2aa4c;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #000;
  }
  
  .image-box img {
    width: 100%;
    max-width: 380px;
    border-radius: 8px;
    margin: 15px 0;
    border: 2px solid #f2aa4c;
    box-shadow: 0 2px 5px #000;
  }
  
  .image-box a {
    color: #00bcd4;
    text-decoration: none;
    font-size: 16px;
  }
  
  .content-boxes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .text-box {
    background: #2c2c2c;
    padding: 15px;
    width: 28%;
    min-width: 240px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #444;
  }
